<div class="social-feed-element col-sm-3 col-xs-4 {{? !it.moderation_passed}}hidden{{?}}" dt-create="{{=it.dt_create}}" social-feed-id = "{{=it.id}}">

    <div class="element-wrapper" id="element-wrapper">
        
        {{=it.attachment}}

        <div class="profile-infos">
            <a class=" " href="{{=it.author_link}}" target="_blank">
                <img class="photo-profile" src="{{=it.author_picture}}">
            </a>

            <span class="author-title hidden-xs">{{=it.author_name}}</span>

            <p class="social-feed-text">{{=it.text}} <a href="{{=it.link}}" target="_blank" class="read-button">+</a></p>
        </div>

    </div>

</div>

<!--<i class="fa fa-{{=it.social_network}}"></i>-->                
<!-- <span class="muted pull-right"> {{=it.time_ago}}</span> -->  