/* Cores */

$gold:                 			#BF9235;
$gold-text:                     #8A610B;
$orange:                        #D86A45;

/* Tipografia */

$font-size:                     16px;
$font-10:                       0.625em;
$font-12:                       0.750em;
$font-13:                       0.813em;
$font-15:                       0.938em;
$font-20:                       1.250em;
$font-35:                       2.188em;
$font-55:                       3.438em;
$font-60:                       3.750em;
$font-80:                       5.000em;
$font:                          'Lato';
$font-it:                       'Lato-It';
$font-bd:                       'Lato-Bold';
$font-bdit:                     'Lato-BoldIt';
$font-lt:                       'Lato-Lt';
$font-ltit:                     'Lato-LtIt';

/* VENDORS */
@import "vendor/bootstrap";
@import "vendor/fakeloader";
@import "vendor/jquery.fullPage";
@import "vendor/socialfeed";

/* BASE */
@import "base/fonts";


/* MODULES */
@import "base/topo";
@import "base/box";
@import "base/parallax";
@import "base/header";
@import "base/footer";

/* PAGES */

@import "pages/home";
@import "pages/nosso-palacio";
@import "pages/visitacao";

/* GERAL */
@import "base/geral";



///////////////////////////////////* MEDIA *\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\

@media (max-width: $screen-xs-max) {

}





