//* TOPO *\\

#videobcg { 
     position: absolute;
     top: 0px;
     left: 0px;
     min-width: 100%;
     min-height: 100%;
     width: auto;
     height: auto;
     overflow: hidden;
     opacity: 0.5;
}

//* PARA TODOS *\\

.para-todos {
    background: #fff url("../img/bg-para-todos.jpg") no-repeat bottom center;

    .para-todos-row {
        margin-top: 140px;

        .para-todos-info-box {
            padding: 28px 45px;
            width: 90%;
            position: relative;
            margin: 0 auto;

            h2 {
                position: relative;
            }

            p {
                font-size: $font-20;
                font-family: $font-ltit;
                color: $gold-text;
                position: relative;
            }
        }
    }
}

//* ESCADARIA *\\

.escadaria {
    margin: 0 0 90px;

    .escadaria-title {
        margin-top: 0px;
        position: relative;

        h3 {
            position: relative;
        }
    }

    .escadaria-text {
        margin-top: 145px;
    }
}

//* SALA DE CINEMA *\\

.sala-cinema {
    padding: 90px 0;

    .box-sala-cinema {
        text-align: center;
        width: 75%;
        padding: 80px 50px;
        margin: 0 auto;

        h4 {
            margin-top: 40px;
        }

        p {
            margin-bottom: 40px;
        }
    }
}

//* SALA DA RAINHA *\\

.sala-rainha {
    position: relative;
    margin: 0 0 50px;

    .sala-rainha-text {
        margin-top: 210px;
    }
}

//* PIANO ALEMÃO *\\

.piano-alemao {
    margin: 0 0 75px;

    .piano-alemao-title {
        position: relative;

        h3 {
            position: relative;
        }
    }

    .piano-alemao-text {
        margin-top: 145px;
    }
}

// MEMÓRIA PALÁCIO \\

.memoria {
    padding: 90px 0;

    .memoria-row {
        .memoria-info {
            h2 {
                color: $gold;
                position: relative;
            }

            .memoria-info-box {
                border: 1px solid $gold;
                padding: 30px 35px;
                position: relative;
                margin: 0 auto;
                width: 75%;
                text-align: center;

                h4 {
                    margin: 0 0 35px;
                    position: relative;
                }

                p {
                    position: relative;
                }

                img {
                    margin: 20px auto;
                }
            }
        }
    }
}

//* GALERIA *\\

.galeria {
    margin: 0px 0 0px;

    .galeria-title {
        position: relative;

        h3 {
            position: relative;
        }
    }

    .galeria-text {
        margin-top: 145px;
    }
}

//* PRESENTES DO REI *\\

.presentes-rei {
    margin: 0px 0 100px;

    .presentes-rei-text {
        margin-top: 210px;
    }
}

//* INSTAGRAM *\\

.instagram {
    margin-bottom: 50px;
    background-color: #F8F2E4;

    h2 {
        color: $gold;
        text-align: center;
    }

    .social-feed-container {
        display: block !important;
        .social-feed-element {
            background-color: #F8F2E4;
        }
    }
}

.container-social {
    margin: 0 75px;
}

///////////////////////////////////* MEDIA *\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\

// MOBILE CEL

@media (max-width: $screen-xs-max) {

    //* PARA TODOS *\\

    .para-todos {
        background-image: none;

        .para-todos-row {
            margin-top: 94px;


            .para-todos-info-box {
                padding: 28px 45px 28px 15px;

                p {
                    margin-top: 50px; 
                }
            }
        }
    }

    //* ESCADARIA *\\

    .escadaria {
        .escadaria-text {
            margin-top: 30px;
        }
    }

    //* SALA DE CINEMA *\\

    .sala-cinema {
        padding: 50px 0;
        margin-bottom: 20px;

        .box-sala-cinema {
            width: 100%;
            padding: 20px 20px;
            border: 1px solid $orange;
            height: auto;
        }
    }

    //* SALA DA RAINHA *\\

    .sala-rainha {
        position: relative;
        margin: 0 0 30px;

        .sala-rainha-text {
            margin-top: 30px;
        }
    }
    
    //* PIANO ALEMÃO *\\

    .piano-alemao {
        margin: 0 0 20px;

        .piano-alemao-text {
            margin-top: 0px;
        }
    }

    // MEMÓRIA PALÁCIO \\

    .memoria {
        padding: 50px 0 10px;

        .memoria-row {
            .memoria-info {
                .memoria-box {
                    border: 1px solid $gold;
                    padding: 30px 20px;
                    margin-bottom: 20px;
                    width: 100%;
                    height: auto;

                    h4 {
                        margin: 0 0 35px;
                        position: relative;
                    }

                    p {
                        position: relative;
                    }

                    img {
                        margin: 20px auto;
                    }
                }
            }
        }
    }
    
    //* GALERIA *\\

    .galeria {
        margin: 20px 0 30px;

        .galeria-title {
            margin-top: 0px;
        }

        .galeria-text {
            margin-top: 0px;
            height: auto;
        }
    }

    //* PRESENTES DO REI *\\

    .presentes-rei {
        margin: 0px 0 50px;

        .presentes-rei-text {
            margin-top: 0px;
        }
    }

    //* INSTAGRAM *\\

    .container-social {
        margin: 0;
    }

}

@media (min-width: 768px) and (max-width: 992px) {

    // SALA CINEMA \\

    .sala-cinema {
        padding: 50px 0;
        margin-bottom: 20px;

        .box-sala-cinema {
            width: 80%;
            padding: 20px 20px;
            border: 1px solid $orange;
            height: auto;
        }
    }

    // MEMÓRIA PALÁCIO \\

    .memoria {
        padding: 50px 0 10px;

        .memoria-row {
            .memoria-info {
                .memoria-box {
                    border: 1px solid $gold;
                    padding: 30px 20px;
                    margin-bottom: 20px;
                    width: 80%;
                    height: auto;

                    h4 {
                        margin: 0 0 35px;
                        position: relative;
                    }

                    p {
                        position: relative;
                    }

                    img {
                        margin: 20px auto;
                    }
                }
            }
        }
    }
}