//* SEDE HISTÓRICA *\\

.sede-historica {
    background: #fff url("../img/bg-nosso-palacio-conceito.jpg") no-repeat center center;

    .sede-historica-row {
        margin-top: 140px;

        .sede-historica-info-box {
            padding: 28px 160px 0 0;
            width: 100%;
            position: relative;
            margin: 0 auto;

            h2 {
                position: relative;
            }

            p {
                font-size: $font-20;
                font-family: $font-ltit;
                color: $gold-text;
                position: relative;
            }
        }
    }
}

//* CARTÃO POSTAL *\\

.cartao-postal {
    margin: 50px 0 0;

    .cartao-postal-title {
        margin-top: 0;
    }

    .cartao-postal-text {
        margin-top: 145px;
    }
}


//* O PALÁCIO É DOS MINEIROS *\\

.e-nosso {
    padding: 90px 0;

    .box-e-nosso {
        text-align: center;
        width: 75%;
        padding: 80px 50px;
        margin: 0 auto;

        h4 {
            margin-top: 40px;
        }

        p {
            margin-bottom: 40px;
        }
    }
}



///////////////////////////////////* MEDIA *\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\

@media (max-width: $screen-xs-max) {

    //* CARTÃO POSTAL *\\

    .cartao-postal {
        margin: 0 0 10px;

        .cartao-postal-text {
            margin-top: 0;
        }
    }

    //* SEDE HISTÓRICA *\\

    .sede-historica {
        background-image: none;

        .sede-historica-row {
            margin-top: 60px;


            .sede-historica-info-box {
                padding: 28px 45px 28px 15px;

                p {
                    margin-top: 50px; 
                }
            }
        }
    }

    //* O PALÁCIO É DOS MINEIROS *\\

    .e-nosso {
        padding: 30px 0;

        .box-e-nosso {
            text-align: center;
            width: 100%;
            padding: 35px 25px;
            color: $gold;
            border: 1px solid $gold;

        }
    }
}