
.visitacao-destaque {
    margin: 0 0 100px;

    .visitacao-destaque-title {
        margin-top: 0px;
    }

    .visitacao-destaque-text {
        margin-top: 145px;
    }
}

//* VISITAÇÃO *\\

.visitacao-gratuita {
    padding: 50px 0;

    .box-visitacao-gratuita {
        text-align: center;
        width: 75%;
        padding: 80px 50px;
        margin: 0 auto;
        color: $gold;

        h4 {
            margin-top: 40px;
        }

        p {
            margin-bottom: 40px;
            font-family: $font-ltit;
            font-size: 1.563em;
            color: $gold;

            span {
	            font-family: $font-ltit;
				font-size: 0.520em;
				margin-bottom: 0px;

				&.funcionamento-fds {
					font-size: 1em;
				}

				&.email {
					font-family: $font-bdit;
					word-break: break-all;
					font-size: 1em;
					color: $orange;
                    margin-top: -27px;

				}
            }
        }

        span {
			font-family: $font-ltit;
			font-size: $font-13;
			margin: 10px 0 30px;
			display: block;
        }
    }
}

//* REGRAS DA CASA *\\

.regras-da-casa {
	margin: 50px 0 70px;

	.regras-da-casa-list {

		.check-list {
			float: left;
		}

		.list-item {
			display: block;
			margin: 0 0 12px 40px;
			font-family: $font-ltit;
			font-size: 1.063em;
			color: $gold-text;
			border-bottom: 1px solid #EEE8D8;
			padding-bottom: 15px;
		}
	}
}

//* MAPA *\\

.mapa {
    .mapa-col {

        #image_rotate {
            max-width: 100%; 
            background-size: 100%;
            background: transparent url('../img/mapa/sprite5.png') no-repeat 0 0;
        }
        
        #image_rotate2 {
            max-width: 100%; 
            background-size: 100%;
            background: transparent url('../img/mapa/sprite4.png') no-repeat 0 0;
        }
    }
    
    .lista-col {
        a {
            font-size: 0.8em;
            display: inline-block;
            padding: 10px 7px;
            width: 47%;
            text-align: center;
            margin: 0 2px 25px;
        }
        
        .check-list {
			float: left;
            color: $orange;
		}

		.list-item {
            display: block;
            margin: 0 0 10px 35px;
            font-family: $font-ltit;
            font-size: 1em;
            color: $gold-text;
		}
    }
}

///////////////////////////////////* MEDIA *\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\

@media (max-width: $screen-xs-max) {

	.visitacao-destaque {
		margin-bottom: 20px;

	    .visitacao-destaque-text {
	        margin-top: 0;
	    }
	}

	.visitacao-gratuita {

    	padding: 50px 0;

	    .box-visitacao-gratuita {
	        text-align: center;
	        width: 100%;
	        padding: 35px 25px;
	        color: $gold;
	        border: 1px solid $gold;
	    }

	    .btn {
	    	width: 100%;
	    }
	}

	//* REGRAS DA CASA *\\

	.regras-da-casa {
		margin: 20px 0 0;

		.regras-da-casa-list {

			.check-list {
				float: left;
			}

			.list-item {
				display: block;
				margin: 0 0 12px 40px;
				font-family: $font-ltit;
				font-size: 1.063em;
				color: $gold-text;
				border-bottom: 1px solid #EEE8D8;
				padding-bottom: 15px;
			}
		}
	}
}
