.box {
    width: 855px;
    height: 460px;
    position: relative;
    display: block;
    margin: 0 auto;
    text-align: center;
    padding: 80px 50px;
    box-shadow: none;
    -webkit-transition: background 0.3s;
    transition: background 0.3s;

    h4 {
        position: relative;
    }

    p {
        position: relative;
        margin-top: 40px;
    }

    img {
        margin-bottom: 40px;
    }

    .arabesco-invert {
        position: relative;
        margin-top: 40px;
    }

    &.memoria-box {
        padding: 34px 50px;
    }
        
}

.box:hover {
    background: rgba(255,255,255,0);
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}

.box svg {
    position: absolute;
    top: 0;
    left: 0;
}

.box svg line {
    stroke-width: 3;
    stroke: $gold;
    fill: none;
    -webkit-transition: all .8s ease-in-out;
    transition: all .8s ease-in-out;
}

.box svg line.top,
.box svg line.bottom {
    stroke-dasharray: 880 805; 
}

.box svg line.left,
.box svg line.right {
    stroke-dasharray: 490 400;
}

 .box svg line.top {
    transform: translateX(-855px)
}

 .box svg line.bottom {
    transform: translateX(855px);
}

 .box svg line.left {
    transform: translateY(460px);
}

 .box svg line.right {
    -webkit-transform: translateY(-460px);
    transform: translateY(-460px);
}