@font-face {
  font-family: 'Lato-Bold';
  src: url('../fonts/Lato-Bold.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Lato-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Lato-Bold.woff') format('woff'), /* Modern Browsers */
       url('../fonts/Lato-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Lato-Bold.svg#eea591db52cf6ebc8992abb7621b9256') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  700;
}

@font-face {
  font-family: 'Lato-BoldIt';
  src: url('../fonts/Lato-BoldItalic.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Lato-BoldItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Lato-BoldItalic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/Lato-BoldItalic.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Lato-BoldItalic.svg#030f5996dac0d7b15fbd4081adedf95b') format('svg'); /* Legacy iOS */
       
  font-weight:  700;
}

@font-face {
  font-family: 'Lato-It';
  src: url('../fonts/Lato-Italic.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Lato-Italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Lato-Italic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/Lato-Italic.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Lato-Italic.svg#51ac4eb0bc1817d276ca824c5353e08f') format('svg'); /* Legacy iOS */
       
  font-weight:  400;
}

@font-face {
  font-family: 'Lato-Lt';
  src: url('../fonts/Lato-Light.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Lato-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Lato-Light.woff') format('woff'), /* Modern Browsers */
       url('../fonts/Lato-Light.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Lato-Light.svg#80d8021909d835b751af094d043ad177') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  200;
}

@font-face {
  font-family: 'Lato-LtIt';
  src: url('../fonts/Lato-LightItalic.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Lato-LightItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Lato-LightItalic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/Lato-LightItalic.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Lato-LightItalic.svg#7015aa8810c4a9d1026a85e4ddcdf7a4') format('svg'); /* Legacy iOS */
       
  font-weight:  200;
}

@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato-Regular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Lato-Regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/Lato-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Lato-Regular.svg#48e70b8825d557df57af3e4f7d4c31be') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

