//* FOOTER *\\

.footer-absolute {
    position:absolute;
    display:block;
    width: 100%;
    z-index:9;
    text-align:center;
    bottom: 35px;

    .footer-infos {
        .footer-about  {
            a {
                font-family: $font-it;
                font-size: $font-13;
                color: $gold;
                display: block;
                text-align: left;
                margin: 0 0 10px 105px;
                
                &:hover {
                    opacity: 0.7;
                }
                
                &:hover, &:active, &:focus {
                    text-decoration: none;
                }
            }
        }
    }

    .footer-social {

        margin: 17px 0 0 0;

        a {
            display: inline-block;
            img {
                margin: 0 10px 15px;
            }

            &:hover {
                opacity: 0.5;
            }

        }

        span {
            display: block;
            font-size: 0.688em;
            font-family: $font-bd;
            color: $gold;
        }
    }
}

footer {
    @extend .footer-absolute;
    position: relative;
    background-color: #54421D;
    padding: 45px 0 18px;
    margin-top: 90px;
    bottom: 0;

    .footer-infos {
        padding-left: 9px;
        
        .footer-about {
            a {
                text-align: left;
                margin: 15px 0 10px 0;
            }
        }

        .footer-address {
            color: #fff;
            margin: 15px 0 10px 0;
            font-family: $font-ltit;
            font-size: $font-13;
            display: block;
            text-align: left;
        }
    }

    .footer-social {
        .facebook {
            display: inline-block;
            width: 20px;
            height: 20px;
            margin: 0 5px;
            background: transparent url("../img/facebook-mini.png") no-repeat center center;
        }
        .twitter {
            display: inline-block;
            width: 20px;
            height: 20px;
            margin: 0 5px;
            background: transparent url("../img/twitter-mini.png") no-repeat center center;

        }
        .google {
            display: inline-block;
            width: 20px;
            height: 20px;
            margin: 0 5px;
            background: transparent url("../img/google-plus-mini.png") no-repeat center center;

        }
        .youtube {
            display: inline-block;
            width: 20px;
            height: 20px;
            margin: 0 5px;
            background: transparent url("../img/youtube-mini.png") no-repeat center center;

        }
    }

    .logos-footer {
        img {
            margin: 7px 0 0 0px;
        }
    }

    &.footer-copyright {
        background-color: #3C3016;
        padding: 10px 0;
        color: $gold;
        margin-top: 0;

        span {
            font-family: $font-ltit;
            font-size: $font-13;
        }

        .col-name {
            text-align: left;
        }

        .col-date {
            text-align: right;
        }
    }

    .social-row {
        margin-bottom: 30px;
    }
}

///////////////////////////////////* MEDIA *\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\

@media (max-width: $screen-xs-max) {
    .footer-absolute {
        bottom: 0;

        .footer-social {
            margin: 0 0 15px;
        }
    }

    footer {
        .footer-infos {
            margin-bottom: 20px;
            
            .footer-about {
            a {
                text-align: center;
              }
            }
        }

        .logos-footer {
            img {
                margin: 0 auto 15px;
            }
        }

        .footer-social {
            .facebook {
                display: inline-block;
                width: 40px;
                height: 40px;
                margin: 0 5px;
                background: transparent url("../img/facebook.png") no-repeat center center;
            }
            .twitter {
                display: inline-block;
                width: 40px;
                height: 40px;
                margin: 0 5px;
                background: transparent url("../img/twitter.png") no-repeat center center;

            }
            .google {
                display: inline-block;
                width: 40px;
                height: 40px;
                margin: 0 5px;
                background: transparent url("../img/google-plus.png") no-repeat center center;

            }
            .youtube {
                display: inline-block;
                width: 40px;
                height: 40px;
                margin: 0 5px;
                background: transparent url("../img/youtube.png") no-repeat center center;

            }
        }

        &.footer-copyright {

            .col-name {
                text-align: center;
            }

            .col-date {
                text-align: center;
            }
        }
    }
}

