


body {
    overflow: hidden;
}

* {
    font-size: $font-size;
    font-family: $font-lt;
    font-family: $font;
}

h1 {
	font-size: $font-80;
	color: #fff;
    margin-bottom: 30px;
    font-family: 'Georgia';
    text-align: center;
    overflow-wrap: break-word;
}

h2 {
	font-size: $font-60;
    font-family: $font-bd;
    color: $orange;
    margin-bottom: 30px;
    font-family: 'Georgia';
    overflow-wrap: break-word;
}

h3 {
    font-size: $font-55;
    font-family: $font-bd;
    color: $orange;
    margin-bottom: 30px;
    font-family: 'Georgia';
    overflow-wrap: break-word;
}

h4 {
    font-size: $font-35;
    font-family: $font-bd;
    color: $orange;
    margin-bottom: 30px;
    font-family: 'Georgia';
    overflow-wrap: break-word;
}

p {
	font-size: $font-20;
    margin: 0 0 35px;
    font-family: $font-ltit;
    color: $gold-text;
}

a {
    text-align: center;
    text-decoration: none;

    &:hover {
        text-decoration: none;
    }
}

.btn {
    font-size: $font-20;
    font-family: $font-bd;
    text-transform: uppercase;
    color: #fff;
    background-color: $orange;
    text-decoration: none;
    text-align: center;
    padding: 16px 20px;
    border-radius: 0;
    display: inline-block;
    margin-bottom: 20px;
}

.no-show {
    display: none !important;
}

.show {
    display: block !important;
}

/* Hover BTN */
.hvr-hollow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: background;
  transition-property: background;
  box-shadow: inset 0 0 0 1px $orange, 0 0 1px rgba(0, 0, 0, 0);
  /* Hack to improve aliasing on mobile/tablet devices */
}
.hvr-hollow:hover, .hvr-hollow:focus, .hvr-hollow:active {
  background: #fff;
  color: $orange;
}


.col-btn {
    text-align: center;
    &.visita {
        a {
            margin: 55px 0 0;
            width: 30%;
        }

        img {
            margin-top: 70px;
        }
    }
}

.section {

    &.para-todos, &.sede-historica {
        height: 60em !important;
    }
}


.side-text {
    position: absolute;
    top: 35%;
    left: 3%;
}

.side-text2 {
    position: absolute;
    top: 15%;
    right: 2%;
}

.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}

.text-chamadas {

    .title-gold {
        h2 {
            text-align: center;
            color: $gold;
        }

        span {
            color: $gold;
            font-size: $font-20;
            font-family: $font-ltit;
            text-align: center;
            display: block;
            margin: 60px 0 70px;

            .tag {
                font-size: 1.3em;
                font-family: $font-bdit;
                color: $orange;
                display: inline-block;
                margin: 0;
            }
        }
    }
}

.separator {
    overflow: hidden;
    margin-top: 25px;
    margin-bottom: 25px;
}

#fullpage {
    height: 98%;
}


///////////////////////////////////* MEDIA *\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\

@media (max-width: $screen-xs-max) {

    h1 {
        font-size: 4em;
    }

    h2 {
        font-size: 2em;
    }

    h3 {
        font-size: 2em;
    }

    .text-chamadas {
        .title-gold {
            span {
                margin: 30px 0;
            }
        }
    }
    .section {

        &.para-todos {
            height: 40em !important;
        }
    }

    .col-btn {
        &.visita {
            a {
                width: 100%;
                font-size: 1em;
                word-break: break-word;
            }
        }
    }

}

@media (min-width: 768px) and (max-width: 992px) {
    svg {
        display: none;
    }
}