//* HEADER *\\

header {
    
    top:0px;
    padding: 20px 0 0 0;
    position: absolute;
    display:block;
    width: 100%;
    z-index:9;
    text-align:center;
}


.morpher__nav{
    top: 46%;
    position: fixed;
    left: 50px;
    bottom: 0;
    width: 100%;
    padding: 0;
    margin: 50% 0 0;
    text-align: center;
    z-index: 11;
    transform-origin: 0 100%;
    transform: rotate(-90deg);
    height: 17px;

    .morpher__nav-link {
        display: inline-block;
        padding: 0 0 0 0;
        margin: 0 10px 0 0;
        color: $gold;
        text-transform: uppercase;
        letter-spacing: 4px;
        height: 17px;

        a {
            font-family: $font-bd;
            font-size: $font-10;
            text-align: center;
            position: relative;
            display: inline-block;
            color: $gold;
            text-transform: uppercase;
            letter-spacing: 4px;
            height: 17px;
            top: -5px;
        }

        &:last-child {
            border-right: none;
        }
    }
}

.morpher__nav-top {
    transform: rotate(90deg);
    z-index: 11;
    position: fixed;
    right: -68px;
    bottom: 0;
    height: 17px;
    top: 50%;

    .morpher__nav-link {
        display: inline-block;
        padding: 0 0 0 0;
        margin: 0 10px 0 0;
        color: $gold;
        text-transform: uppercase;
        letter-spacing: 4px;
        height: 17px;

        a {
            font-family: $font-bd;
            font-size: $font-10;
            text-align: center;
            position: relative;
            display: inline-block;
            color: $gold;
            text-transform: uppercase;
            letter-spacing: 4px;
            height: 17px;
            top: -5px;
        }
    }
}


nav, .navbar, .navbar-default {
    background-color: transparent;
    border: none;
    padding: 20px 0;

    .menu-item {
        font-family: $font-bd;
        font-size: $font-12;
        text-align: center;
        margin: 0 45px;
        width: 20%;
        letter-spacing: 0.75px;
        line-height: 15px;
        color: #FFFFFF;

        &.logo {
            margin: 0 70px;
        }

        &:first-child {
            margin: 0 45px 0 0;
        }

        &:last-child {
            margin: 0 0 0 45px;
        }

        &:nth-child(2) {
            margin: 0 45px;
        }
    }
}

//CSS Hover Menu

.hover-menu .txt::before,
.hover-menu .txt::after {
    display: inline-block;
    opacity: 0;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
    -moz-transition: -moz-transform 0.3s, opacity 0.2s;
    transition: transform 0.3s, opacity 0.2s;
}

.hover-menu .txt::before {
    margin-right: 10px;
    content: '{';
    -webkit-transform: translateX(20px);
    -moz-transform: translateX(20px);
    transform: translateX(20px);
}

.hover-menu .txt::after {
    margin-left: 10px;
    content: '}';
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    transform: translateX(-20px);
}

.hover-menu .txt:hover::before,
.hover-menu .txt:hover::after,
.hover-menu .txt:focus::before,
.hover-menu .txt:focus::after {
    opacity: 1;
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    transform: translateX(0px);
}


///////////////////////////////////* MEDIA *\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\

@media (max-width: $screen-xs-max) {

    header {
        padding: 0;
    }

    nav, .navbar, .navbar-default {
        background-color: transparent;
        border: none;
        padding:0;
        margin: 0;

        .navbar-header {
            display: inline-block;
            position: absolute;
            right: 0;
            z-index: 99;
            .navbar-toggle {
                border: none;
                
                .icon-bar {
                  background-color: #fff;
                  width: 26px;
                  height: 3px;
                  border-radius: 0px;
                  margin: 0 0 5px;
                }
                
                &:hover, &:focus {
                    background-color: transparent;
                }
                 &:visited {
                    background-color: transparent;
                }
            }
        }

        .navbar-collapse {
            background-color: $gold;
            border: none;
            position: fixed;
            width: 100%;
            z-index: 9;
        }

        .menu-item {
            text-align: center;
            margin: 20px 0 !important;
            width: 100%;
            color: #000;
            display: block;
        }
    }
}