.parallax {
  height: 630px;

  &.p-escadaria {
    background-image: url("../img/escada.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  &.p-piano {
    background-image: url("../img/piano.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  &.p-galeria {
    background-image: url("../img/fachada.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  &.p-cartao-postal {
    background-image: url("../img/sede-historica.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  &.p-visitacao-destaque {
    background-image: url("../img/visitacao-destaque.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

}


///////////////////////////////////* MEDIA *\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\

@media (max-width: $screen-xs-max) {
  .parallax {
    height: 300px;
  }
}