
.topo {
    overflow: hidden;
    background-color: #000;
    padding: 130px 0px;
    position: relative;

    .topo-destaque {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 992px;
        height: 138px;
        margin-left: -496px;
        margin-top: -69px;

        h1 {

            font-size: 3.5em;
            letter-spacing: 7px;
            font-family: $font-lt;
            text-transform: uppercase;
            position: relative;
            text-shadow: 0px 4px 8px rgba(0,0,0,0.67);
        }
    }

    .topo-navegue {
        position: absolute;
        width: 278px;
        height: 305px;
        left: 50%;
        margin-left: -139px;
        bottom: -120px;
    }

    .topo-destaque-scroll {

        .scroll-text {
            font-family: $font-bd;
            font-size: $font-15;
            color: $gold;
            display: block;
            text-align: center;
            margin-bottom: 11px;
            text-transform: uppercase;
        }

        .scroll-explore {
            font-family: 'Georgia';
            font-style: italic;
            font-size: $font-20;
            color: #fff;
            display: block;
            text-align: center;
            margin-bottom: 55px;
        }
    }

    .topo-destaque-icons {
        .icon-line {
            margin-top: 45px;
            overflow: visible;
        }
    }

    &.nosso-palacio {
        background: #000 url("../img/bg-nosso-palacio.jpg") no-repeat center center;
        background-size: cover;
    }

    &.visitacao {
        background: #000 url("../img/bg-visitacao.jpg") no-repeat center center;
        background-size: cover;
    }
}

///////////////////////////////////* MEDIA *\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\

@media (max-width: $screen-xs-max) {
    .topo {
        width: 100%;
        height: 100%;
        padding: 80px 0 0 0;
        background: #000 url("../img/mobile/home_topo.jpg") no-repeat center center;
        background-size: cover;

        .topo-destaque {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 300px;
            height: 120px;
            margin: -60px 0 0 -150px;

            h1 {
                font-size: 2em;
            }
        }

        .topo-navegue {

            position: absolute;
            width: 360px;
            height: 38px;
            left: 50%;
            margin-left: -180px;
            bottom: 30px;

        }

        &.nosso-palacio {
            background: #000 url("../img/mobile/bg-nosso-palacio.jpg") no-repeat center center;
            background-size: cover;
        }

        &.visitacao {
            background: #000 url("../img/mobile/bg-visitacao.jpg") no-repeat center center;
            background-size: cover;
        }
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .topo {
        .topo-destaque {
            h1 {
                font-size: 2.5em;
            }
        }
    }
}